/* playlist */
.playlist-card{
  transition: transform 0.3s ease;
}
.playlist-card:hover{
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* song */
.custom-song-card {
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-song-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .song-img {
    object-fit: cover;
    height: 180px;
  }
  
  .song-title {
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .song-desc {
    font-size: 0.9rem;
    color: #ccc;
  }
  

  /* Swiper */
  .swiper-button-next, .swiper-button-prev {
    color: white; /* Arrow color */
    width: 30px;
    height: 30px;
    top: 60%; /* Center vertically */
    transform: translateY(-50%);
    z-index: 10; /* Make sure it's above the content */
}

.swiper-button-next {
    right: 0px; /* Position inside the card */
}

.swiper-button-prev {
    left: 0px;
}

.custom-swiper-pagination .swiper-pagination {
  margin-bottom: -13px; /* Adjust this value to your desired space */
}

@media (min-width:460px) and (max-width:550px) {
  .song-card{
    margin-bottom: 200px;
  }
}


/* Create Playlist */

.modal-content {
  animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
